{% load static from staticfiles %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Aaron Reyes</title>
    <meta name="description" content="">
    <meta name="author" content="Aaron Reyes">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Security-Policy" content="default-src 'none'; script-src 'self'; connect-src 'self'; img-src 'self'; style-src 'unsafe-inline';">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}"/>
    <link rel="stylesheet" href="{% static 'aaronmreyes/css/style.css' %}">
  </head>
  <body>
    <div id="terminal">
      <div class="line"><span style="color:lime;">root@localhost #</span> hexdump core.{{ t|date:'U' }}</div>
    </div>
    <script src="{% static 'aaronmreyes/js/error.js' %}"></script>
  </body>
</html>