/**
 * website style
 */

html {
  height: auto;
  background: #000;
  overflow-y: scroll !important;
  overflow-x: auto !important;
}

body {
  margin: 0;
  background: none;
  font-family: "Courier New", monospace;
  word-wrap: break-word;
  height: 100%;
  float: left;
  padding: 10px;
  font-size: 13px;
  color: #f7f7f7;
  font-weight: 300;
}

a {
  text-decoration: none;
}

.line {
  display: block;
  float: left;
  width: 100%;
  margin: 0;
  padding: 0;
}

.hidden {
  display: none !important;
}

.log_err, .color_red {
  color: red;
}

.log_warn, .color_orange {
  color: orange;
}

.log_info, .color_cyan {
  color: cyan;
}

.log_success, .color_lime {
  color: lime;
}

.color_violet {
  color: violet;
}

.color_royalblue {
  color: royalblue;
}

.prompt_wrapper {
  float: left;
  width: 100%;
  display: block;
  margin: 0;
  padding: 0;
}

.prompt_user {
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
}

.prompt {
  border: none;
  background: none;
  color: #f7f7f7;
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
  padding: 0;
}

.prompt:focus {
  outline: none;
}

