{% load static from staticfiles %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>arey.dev</title>
    <meta name="description" content="">
    <meta name="author" content="Aaron Reyes">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Security-Policy" content="default-src 'none'; script-src 'self'; connect-src 'self'; img-src 'self'; style-src 'self' 'unsafe-inline';">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}"/>
    <link rel="stylesheet" href="{% static 'website/css/style.css' %}">
  </head>
  <body>
   <div id="terminal">
      <div id="prompt-wrapper" class="hidden">
        <div id="prompt-icon"></div>
        <input type="text" id="prompt">
      </div>
   </div>
   <!-- core code: -->
   <script src="{% static 'website/js/shell.js' %}"></script>
   <script src="{% static 'website/js/kernel.js' %}"></script>
   <script src="{% static 'website/js/bootloader.js' %}"></script>
   <!-- user programs -->
   <script src="{% static 'website/js/bin/whois.js' %}"></script>
  </body>
</html>
